.block__cta {
    position: relative;
    padding: 4rem 2rem 0;
    margin-bottom: 0;
    background: $lightest;
    @include bp(tablet) {
        padding: 4rem 4rem 0;
    }
    @include bp(desktop) {
        padding: 4rem 0 0;
    }

    &__content {
        max-width: 720px;
        margin: 0 auto 2rem;
        text-align: center;
        @include bp(desktop) {
            margin: 0 auto 4rem;
        }

        h2 {
            font-size: 3.2rem;
            line-height: 4.8rem;
            @include bp(desktop) {
                font-size: 4.2rem;
                line-height: 5.8rem;
            }
        }
    }

    img {
        display: block;
        width: 100%;
    }
}
