.block__hero {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &--simple {
        height: 400px;
        background: $primary;

        @include bp(desktop) {
            height: 750px;
        }
    }

    &--image {
        height: 600px;
    }

    &--blog {

        .archive & {
            height: 600px;
            position: relative;
            overflow: hidden;
        }

        .block__hero__content {
            h1 {
                color: $lightest;
            }
        }

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        z-index: 2;
        padding: 1rem;

        @include bp(desktop) {
            padding: 0;
        }

        h1 {
            will-change: transform;
            @include animate(1s, 0, fadeInUp);
        }

        p {
            font-size: 2.4rem;
            color: $primary;
            font-weight: 400;
            margin-top: 1rem;
            will-change: opacity;
            @include animate(1s, 600ms, fadeIn);
        }

        .button {
            will-change: opacity;
            @include animate(1s, 1s, fadeIn);
        }
    }

    &__video, &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        video, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }

        .overlay {
            .home & {
                display: none;
            }
        }
    }

    &--light {
        a,
        h1,
        p {
            color: $lightest;
        }

        .button {
            color: $primary;
        }
    }
}
