.block__image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        text-align: center;
        max-width: $global-width/1.5;
        margin: 0 auto;
        z-index: 1;
        padding: 2rem;
        @include bp(tablet) {
            padding: 2rem 4rem;
        }
        @include bp(desktop) {
            padding: 0;
        }

        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $lightest;
        }
    }

    .overlay {
        z-index: 0;
    }
}
