.block__nl-signup {
    margin: 4rem 0;
    @include bp(desktop) {
        margin: 8rem 0;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .nl-signup__left {
            @include bp(tablet) {
                width: 60%;
            }

            h2 {
                font-size: 4.2rem;
                margin: 0;
                font-weight: 700;
                line-height: 5.2rem;
                @include bp(desktop) {
                    font-size: 6.2rem;
                    line-height: 7rem;
                }
            }

            p {
                font-size: 2.4rem;
            }
        }

        .nl-signup__right {
            @include bp(tablet) {
                width: 30%;
            }
        }
    }
}
