footer[role="contentinfo"] {
	background: #f5f5f5;
	padding: 4rem 0;

	.site-footer__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

        @include bp(tablet) {
            margin-bottom: 8rem;
        }

		.site-footer__column {
			width: calc(50% - 2rem);
			margin-bottom: 2rem;
			@include bp(desktop) {
				width: calc(25% - 2rem);
				margin-bottom: 0;
			}

			h3 {
				font-size: 2.4rem;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					a {
						text-decoration: none;
						color: $text-color;
						transition: 300ms $cubic;

						&:hover {
							color: $primary;
						}
					}
				}

				&.footer-socials {
					li {
						display: inline-block;
						margin-right: 2rem;

						svg path {
							fill: $primary;
						}
					}
				}
			}
		}
	}

	.site-footer__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

        p {
            margin: 0;
        }
	}

	a.credits {
		position: relative;
		display: inline-block;
		text-align: left;
        margin-top: 2rem;
		width: 300px;
		height: 30px;
		color: $lightest;
		overflow: hidden;
		font-size: 1.4rem;

        @include bp(tablet) {
            text-align: right;
            margin-top: 0;
        }

		div,
		span {
			position: absolute;
			top: 0;
			left: 0;
			transition: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
			width: 100%;
			text-align: left;

            @include bp(tablet) {
                text-align: right;
            }
		}

		div {
            transform: translateY(-100%);

            @include bp(desktop) {
            	transform: translateY(0%);
            }
		}

		span {
			display: block;
			width: 300px;
			height: 30px;
            transform: translateY(0%);

            @include bp(desktop) {
                transform: translateY(100%);
            }

			img {
				width: 100%;
				height: auto;
			}
		}

		&:hover {
			div {
				transform: translateY(-100%);
			}

			span {
				transform: translateY(0%);
			}
		}
	}
}
