// Grid Styles
.container {
    width:90%;
    max-width:$global-width;
    margin:0 auto;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--wide {
	max-width:$global-width*1.2;
	width: 90%;
    margin:0 auto;
    padding: 0 2rem;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--narrow {
	max-width:$global-width/1.2;
	width: 90%;
    margin: 0 auto;
    padding: 0 2rem;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--thin {
	max-width:$global-width/1.5;
	width: 90%;
    margin: 0 auto;
    padding: 0 5vw;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--blog {
    max-width:$global-width/1.5;
    margin: 0 auto;
    padding: 0 5vw;

    @include bp(desktop) {
        padding: 0;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.row {
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;
    width:90%;

    @include bp(desktop) {
        width: 100%;
    }

    &--collapse > .column {
        padding-left:0!important;
        padding-right:0!important;
    }

    &--nowrap {
        flex-wrap:nowrap;
    }

    // handle horizontal alignment

    &--center {
        justify-content:center;
    }

    &--justified {
        justify-content:space-between;
    }

    &--spaced {
        justify-content:space-around;
    }

    &--start {
        justify-content: flex-start
    }

    &--end {
        justify-content:flex-end;
    }

    // handle vertical alignment

    &--middle {
        align-items:center;
    }

    &--bottom {
        align-items:flex-end;
    }

    &--top {
        align-items:flex-start;
    }

}

ul.row {
    list-style:none;
    padding:0;
    margin:0;
}

.column {
    padding-left:$global-padding/2;
    padding-right:$global-padding/2;
    margin:0;
    min-width: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:auto;
    width: 100%;
}


@for $i from 1 through 12 {

    .column-m-#{$i} {
        flex-basis: 100% / 12 * $i - 2%;
        max-width: 100% / 12 * $i - 2%;
    }

    .column-m-#{$i}-nest {
        flex-basis: 100% / 12 * $i;
        max-width: 100% / 12 * $i;
    }

    .column-m-order-#{$i} {
        order:#{$i};
    }

}

@include bp(tablet) {

    @for $i from 1 through 12 {

        .column-t-#{$i} {
            flex-basis: 100% / 12 * $i - 2%;
            max-width: 100% / 12 * $i - 2%;
        }

        .column-t-#{$i}-nest {
            flex-basis: 100% / 12 * $i;
            max-width: 100% / 12 * $i;
        }

        .column-t-order-#{$i} {
            order:#{$i};
        }

    }

}

@include bp(phablet) {

    @for $i from 1 through 12 {

        .column-p-#{$i} {
            flex-basis: 100% / 12 * $i - 2%;
            max-width: 100% / 12 * $i - 2%;
        }

        .column-p-#{$i}-nest {
            flex-basis: 100% / 12 * $i;
            max-width: 100% / 12 * $i;
        }

        .column-p-order-#{$i} {
            order:#{$i};
        }

    }

}

@include bp(desktop) {

    @for $i from 1 through 12 {

        .column-d-#{$i} {
            flex-basis: 100% / 12 * $i - 2%;
            max-width: 100% / 12 * $i - 2%;
        }

        .column-d-#{$i}-nest {
            flex-basis: 100% / 12 * $i;
            max-width: 100% / 12 * $i;
        }

        .column-d-order-#{$i} {
            order:#{$i};
        }

    }

}
